.App {
  text-align: center;
}
header > h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.search > input {
  padding: 0.5rem 1rem;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  margin: 1rem 0.5rem;
  width: 240px;
}

.movie > img {
  width: 240px;
  height: 320px;
}
